<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="WPMUDEV Plugin Test">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_TESTS_CONFIG_FILE_PATH" value="./tests/tests-wp-config.php"/>
    </php>
</phpunit>